.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  position: relative;
}

.header h3 {
  font-size: 16px;
  margin: 0 auto;
}

.header button {
  background: none;
  border: none;
  font-size: 16px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
